<div class="content-width" id="edit-info-wrapper">
  <h1>Edit Your Request</h1>

  <p class="intro-text">
    Edit the address or select a new time for your pickup. If you have any questions about making changes to your request, please don't hesitate to
    <a id="edit-request-info-open-contact" class="contact-link">contact us.</a>
  </p>

  <div class="confirmation-info">
    <p>Pick Up Date and Time</p>

    <div id="pickup-date-time" class="flex-row-center">
      <h4 id="pickup-info" class="no-margin">
        <span id="request-date" data-date="{{ pickup.request_date }}"></span>
        <span id="request-time" data-time="{{ pickup.request_time }}"></span>
      </h4>
      <a href="{{ url_for('edit_request_time', request_id=request_id) }}">
        <div id="edit-time" class="edit-pencil">
          <i class="bi bi-pencil icon-gray"></i>
        </div>
      </a>
    </div>
  </div>

  {% if edit_request %}
    {% include edit_request %}
    <script nonce="{{ csp_nonce() }}">
      const hideDiv = document.getElementById('pickup-date-time');
      hideDiv.style.display = "none";
    </script>
  {% endif %}

  <div class="confirmation-info">
    <p id="address-header">Address</p>
    <div>
      <div id="address-info" class="flex-row-center">
        <h4 class="no-margin">{{ pickup.address }}, {{ pickup.city }}, {{ pickup.zipcode }}</h4>
        <div id="edit-address" class="edit-pencil">
          <i class="bi bi-pencil icon-gray"></i>
        </div>
      </div>

      <form action="{{ url_for('update_address') }}"
            id="edit-address-form"
            class="hidden"
            method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group max-w-300">
          <label for="address">Address<span class="col-red">*</span></label>
          {{ form.address(id="address", required=True) }}
        </div>

        <div class="form-group max-w-220">
          <label for="city">City<span class="col-red">*</span></label>
          {{ form.city(id="city", required=True) }}
        </div>

        <div class="form-group max-w-120">
          <label for="zip">Zip Code<span class="col-red">*</span></label>
          {{ form.zipcode(id="zipcode", required=True) }}
        </div>

        {{ form.request_id(id="request_id") }}
        {{ form.page(id="page", value="edit_request") }}

        <button id="update-address" class="download-btn btn-padding">Update</button>
        <button id="cancel-update-address"
                class="download-btn btn-padding"
                type="button">
          Cancel
        </button>
      </form>
      <div id="address-form-failure-notice">
        <p class="user-notice">
        </p>
      </div>
    </div>
  </div>
  <div class="confirmation-info">
    <p>Request Notes</p>
      <form action="{{ url_for('edit_request_notes', pickup_id=pickup.request_id) }}"
          method="POST"
          class="notes-form">
        {{ notes_form.csrf_token }}
        <input type="hidden" name="request_id" value="{{ pickup.request_id }}">
        {{ notes_form.notes(class="notes-textarea", rows="2", placeholder="Add any relevant information you want us to know for this request.") }}
        {{ notes_form.submit(class="download-btn") }}
      </form>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-container">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} flash-message">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
  </div>

  <div id="cancel-wrapper" class="align-right full-width">
    <button id="cancel-request-init" class="warning-btn mt-64">
      <i class="bi bi-ban mr-8"></i>
      Cancel Request
    </button>

    <div id="cancel-confirm-wrapper" class="hidden">
      <p class="text-right">
        Are you sure you want to cancel this request?<br>
        This action cannot be undone.
      </p>
      <div id="cancel-confirm-btn-wrapper" class="align-right">
        <form action="{{ url_for('cancel_request') }}"
              method="POST"
              id="cancel-request-form">
          {{ cancel_form.hidden_tag() }}
          {{ cancel_form.request_id(id="form-request-id", value=pickup.id) }}
          <button class="download-btn" id="cancel-btn" type="submit">
            Yes, cancel.
          </button>
          <button class="download-btn" id="cancel-back-btn" type="button">
            No, go back.
          </button>
        </form>
      </div>
    </div>
  </div>
</div>