<footer id="footer" class="align-center">
  <div id="footer-content">
    <div id="ekolinq-footer-img" class="align-center">
      <img id="footer-img-desktop" src="{{ url_for('static', filename='images/bottom-logo.png') }}" alt="The EkoLinq Logo" height="70">
      <img id="footer-img-mobile" src="{{ url_for('static', filename='images/EKOLINQ-LOGO.png') }}" alt="The EkoLinq Logo" height="40">
    </div>
    <div id="footer-info" class="align-center">
      <div id="footer-info-top" class="align-center">
        <div class="info-top w-100 flex-1">
          <p><a href="/textile-waste">What's textile waste?</a></p>
          <p><a href="/about">About us</a></p>
        </div>
        <div class="info-top w-100 flex-1">
          <p class="mobile-remove-margin"><a href="/drop-boxes">Our drop boxes</a></p>
          <p><a href="/contact">Contact us</a></p>
        </div>
        <div class="info-top w-100 flex-1">
          <p class="mobile-remove-margin"><a href="/edit-request-init">Edit pickup</a></p>
          <p><a href="/request_init" class="col-green"><strong>Schedule a pickup</strong></a></p>
        </div>
      </div>
      <div id="footer-info-bottom" class="align-center">
        <div id="footer-contact-info">
          <div class="contact-info" class="align-center">
            <i class="bi bi-telephone-fill col-blue"></i>
            <p class="crim"><a class="contact-a" href="tel:8663465765">866.346.4765</a></p>
          </div>
          <div class="contact-info" class="align-center">
            <i class="bi bi-envelope-fill col-blue"></i>
            <p class="crim"><a class="contact-a" href="mailto:contact@ekolinq.com">contact@ekolinq.com</a></p>
          </div>
        </div>
        <div id="footer-socials" class="align-center">
          <a target="_blank" href="https://www.facebook.com/ekolinq/"><i class="bi bi-facebook col-blue"></i></a>
          <a id="nextdoor-logo" target="_blank" href="https://nextdoor.com/pages/ekolinq-irvine-ca/">
            <img
              src="{{ url_for('static', filename='images/nextdoor.svg') }}"
              alt="Ekolinq on Nextdoor"
              class="col-blue"
              width="24"
              height="24"
            />
          </a>

        </div>
      </div>
    </div>
  </div>
</footer>