<footer id="footer">
    <div id="footer-content" class="content-width">
      <div id="footer-left" style="flex: 1;">
        <img src="/static/images/EKOLINQ-LOGO.png" height="40" alt="">
        <p style="font-family: var(--crim); margin: 0px; margin-top: 24px;">hello@ekolinq.com</p>
        <p style="font-family: var(--crim); margin: 0px; margin-top: 24px;">866.346.4765</p>
      </div>
      <div id="footer-right" style="flex: 1;">
        <p class="footer-nav-item">What's textile waste?</p>
        <p class="footer-nav-item">About us</p>
        <p class="footer-nav-item">Contact</p>
        <p class="footer-nav-item">Edit a request</p>
      </div>
    </div>
  </footer>