<footer id="footer" class="align-center">
  <div id="footer-content">
    <div id="ekolinq-footer-img" class="align-center">
      <img id="footer-img-desktop" src="/static/images/bottom-logo.png" alt="" height="80">
      <img id="footer-img-mobile" src="/static/images/EKOLINQ-LOGO.png" alt="" height="40">
    </div>
    <div id="footer-info" class="align-center">
      <div id="footer-info-top" class="align-center">
        <div style="flex: 1; width: 100%;" class="info-top">
          <p><a href="/textile-waste">What's textile waste?</a></p>
          <p><a href="/about">About us</a></p>
        </div>
        <div style="flex: 1; width: 100%;" class="info-top">
          <p id="mobile-remove-margin"><a onclick="openContactPopup()">Contact</a></p>
          <p><a href="/edit-request-init">Edit a request</a></p>
        </div>
        <button id="footer-contact-btn" onclick="openContactPopup()" style="flex: 1; width: 100%;">Get in Touch</button>
      </div>
      <div id="footer-info-bottom" class="align-center">
        <div id="footer-contact-info">
          <div class="contact-info" class="align-center">
            <i class="bi bi-telephone-fill" style="color: var(--m-green);"></i>
            <p style="font-family: var(--crim)">866.346.4765</p>
          </div>
          <div class="contact-info" class="align-center">
            <i class="bi bi-envelope-fill" style="color: var(--m-green);"></i>
            <p style="font-family: var(--crim)">contact@ekolinq.com</p>
          </div>
        </div>
        <div id="footer-socials" class="align-center">
          <a><i class="bi bi-instagram" style="color: var(--m-green);"></i></a>
          <a><i class="bi bi-facebook" style="color: var(--m-green);"></i></a>
          <a><i class="bi bi-linkedin" style="color: var(--m-green);"></i></a>
        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
</footer>