<nav class="navbar">
    <div class="navbar__logo">
      <a href="/admin">
        <img src="{{ url_for('static', filename='images/EkoLinqLogo_White.png') }}" alt="Company Logo" height="30">
      </a>
    </div>
    <button class="navbar__toggle" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbar-menu">
      <i class="bi bi-list" style="color: white; font-size: 24px;"></i>
    </button>
    <ul class="navbar__menu" id="navbar-menu">
      <li class="navbar__item"><a href="/admin" class="navbar__link">Admin Console</a></li>
      <li class="navbar__item"><a href="/route-overview" class="navbar__link">Route Overview</a></li>
    </ul>
</nav>
  