<nav class="navbar">
  <div class="align-left">
    <div class="navbar__logo">
      <a href="/admin-console">
        <img src="{{ url_for('static', filename='images/EkoLinqLogo_White.png') }}" alt="Company Logo" height="30">
      </a>
    </div>
    <p class="admin-workspace">ADMIN WORKSPACE</p>
  </div>
    <button class="navbar__toggle" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbar-menu">
      <i class="bi bi-list"></i>
    </button>
    <ul class="navbar__menu" id="navbar-menu">
      <li class="navbar__item"><a href="/" class="navbar__link">Back to Main Site</a></li>
      <li class="navbar__item"><a href="/admin-schedule" class="navbar__link">Schedule Set Up</a></li>
      <li class="navbar__item"><a href="/admin-pickups" class="navbar__link">All Pick Ups</a></li>
      <li class="navbar__item"><a href="/route-overview" class="navbar__link">Route Overview</a></li>
      <li class="navbar__item"><a href="/logout" class="navbar__link" class="col-yel">Logout</a></li>
    </ul>
</nav>
  