{% for req in requests %}
        <tr>
          <td class="min-w-80 align-center action-container">
            <button class="download-btn" id="view-request" data-id="{{ req.request_id }}"><i class="bi bi-arrow-up-right-square"></i>View</button>
            <form action="{{ url_for('delete_pickup') }}" method="POST" class="delete-form">
              {{ delete_form.csrf_token }}  <!-- CSRF protection -->
              <input type="hidden" name="pickup_id" value="{{ req.id }}">
              <button
                type="submit"
                id="delete-request"
                class="download-btn delete-request-btn">
                <i class="bi bi-trash"></i>Delete
              </button>
            </form>
          </td>
          <td class="min-w-120
                {% if req.status == 'Complete' %}
                  status-complete
                {% elif req.status == 'Requested' %}
                  status-requested
                {% endif %}">
            {{ req.status }}
          </td>
          <td class="min-w-150">{{ req.date_filed }}</td>
          <td class="min-w-150">{{ req.request_date }}</td>
          <td class="min-w-300">{% if req.email != 'None' %}<a class="action-a" href="mailto:{{ req.email }}">{{ req.email }}</a>{% else %}NA{% endif %}</td>
          <td class="min-w-200"><a class="action-a" href="tel:{{ req.phone_number }}">{{ req.phone_number }}</a></td>
          <td class="min-w-250">{{ req.address }}</td>
          <td class="min-w-250">{% if req.address2 %}{{ req.address2 }}{% else %}{% endif %}</td>
          <td class="min-w-150">{{ req.city }}</td>
          <td class="min-w-75">{{ req.zipcode }}</td>
          <td class="min-w-300 word-break">{% if req.notes %}{{ req.notes }}{% else %}{% endif %}</td>
          <td class="min-w-300 word-break">{% if req.admin_notes %}{{ req.admin_notes }}{% else %}{% endif %}</td>
          <td class="min-w-100">{{ req.gated }}</td>
          <td class="min-w-200">{{ req.awareness }}</td>
          <td class="min-w-150">{% if req.fname %}{{ req.fname }}{% else %}{% endif %}</td>
          <td class="min-w-200">{% if req.lname %}{{ req.lname }}{% else %}{% endif %}</td>
          <td class="min-w-50">{{ req.request_id }}</td>
          <td class="min-w-250">{% if req.pickup_complete_info %}{{ req.pickup_complete_info }}{% else %}{% endif %}</td>
        </tr>
{% endfor %}
