body {
    background-color: var(--d-green);
    padding-top: 120px;
    padding-bottom: 60px;
}

main {  
    border-radius: 50px;
    box-sizing: border-box;
    padding: 40px;
    padding-top: 20px;
    background-color: var(--off-white);
}

#date-timeframe-form {
    overflow-x: scroll;
    width: 100%;
}

th, td, tr {
    font-family: var(--mont);
    padding: 8px 12px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

input, select {
    font-family: var(--mont);
    padding: 8px 8px;
    border: 2px solid var(--m-green);
    border-radius: 5px;
}

input:placeholder-shown {
    border: 1px solid var(--border-grey);
}

#save-sched-btn {
    background-color: var(--m-green);
    color: white;
}

#save-sched-btn:hover {
    cursor: pointer;
    background-color: var(--m-blue);
}

#filter-form {
    column-gap: 24px;
    justify-content: space-between;
}

.filter-form-group-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 8px;
    font-family: var(--mont);
    justify-content: flex-start;
}

.filter-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    font-family: var(--mont);
    justify-content: flex-start;
}

table {
    border-radius: 5px;
    border: 1px solid grey;
}

th {
    border-bottom: 1px solid grey;
    text-align: left;
}

#table-wrapper tr {
    max-height: 20px;
    overflow-y: scroll;
}

#login-wrapper {
    width: 400px;
    background-color: var(--off-white);
    flex-direction: column;
    padding: 40px;
    border-radius: 50px;
    margin: auto;
    margin-top: 10vh;
}

#login-wrapper form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}


.a-green {
  text-decoration: underline; color: var(--m-green);
}

.col-white {
    color: white !important;
}

.col-yel {
    color: var(--yel) !important;
}

.col-blue {
    color: var(--m-blue) !important;
}

.col-green {
    color: var(--m-green) !important;
}

.col-subtle {
    color: var(--subtle-text);
}

.col-subtle-wbg {
    color: var(--subtle-text-wbg);
}

.crim {
    font-family: var(--crim);
}

.pub {
    font-family: var(--p);
}

.fs-24 {
    font-size: 24px;
}

.fs-14 {
    font-size: 14px;
}

.flex-1 {
    flex: 1;
}

.w-100 {
    width: 100%;
}

.ml-24 {
    margin-left: 24px;
}

.no-border {
    border: none;
}

.mt0 {
    margin: 0;
}

.filter-h4 {
    margin: 0px; font-size: 12px; margin-bottom: 8px
}

.admin-workspace {
    margin: 0px; margin-left: 24px; color: var(--yel);padding-bottom: 2px; font-size: 14px;
}

.bi-list {
    color: white;
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: var(--off-white);
        padding-top: 120px;
    }
    main {
        padding: 0em;
        margin-top: 80px;
    }
}