body {
    background-color: var(--d-green);
    padding-top: 120px;
}

main {  
    border-radius: 50px;
    box-sizing: border-box;
    padding: 40px;
    background-color: var(--off-white);
}

#date-timeframe-form {
    overflow-x: scroll;
    width: 100%;
}

h1 {
    margin: 0px;
    margin-bottom: 24px;
}

h2 {
    margin: 0px; margin-bottom: 0px;
}

p {
    max-width: 550px; word-break: break-word;
}

th, td, tr {
    font-family: var(--mont);
    padding: 8px 12px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

input, select {
    font-family: var(--mont);
    padding: 8px 8px;
    border: 2px solid var(--m-green);
    border-radius: 5px;
}

input:placeholder-shown {
    border: 1px solid var(--border-grey);
}

#save-sched-btn {
    background-color: var(--m-green);
    color: white;
}

#save-sched-btn:hover {
    cursor: pointer;
    background-color: var(--m-blue);
}

#filter-form {
    column-gap: 24px;
    justify-content: space-between;
}

.filter-form-group-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 8px;
    font-family: var(--mont);
    justify-content: flex-start;
}

.filter-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    font-family: var(--mont);
    justify-content: flex-start;
}

table {
    border-radius: 5px;
    border: 1px solid grey;
}

th {
    border-bottom: 1px solid grey;
    text-align: left;
}

#table-wrapper tr {
    max-height: 20px;
    overflow-y: scroll;
}

#login-wrapper {
    width: 400px;
    background-color: var(--off-white);
    flex-direction: column;
    padding: 40px;
    border-radius: 50px;
    margin: auto;
    margin-top: 10vh;
}

#login-wrapper form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#address-form {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
    margin-top: 48px;
    font-family: var(--mont);
    padding-bottom: 48px;
}

.form-control {
    width:100%; box-sizing: border-box;
}

.download-btn {
    margin-top:16px;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: var(--off-white);
        padding-top: 120px;
    }
    main {
        padding: 0em;
        margin-top: 80px;
    }

    #date-timeframe-form {
        margin-top: 24px;
        padding-bottom: 16px;
    }
}