body {
    background-color: var(--d-green);
    padding-top: 120px;
}

h2 {
    font-weight: 500;
}

main {  
    border-radius: 50px;
    box-sizing: border-box;
    padding: 40px;
    padding-top: 20px;
    background-color: var(--off-white);
    padding-bottom: 60px;
}

#date-timeframe-form {
    overflow-x: scroll;
    width: 100%;
}

input, select {
    font-family: var(--mont);
    padding: 8px 8px;
    border: 2px solid var(--subtle-text);
    border-radius: 5px;
}

input:placeholder-shown {
    border: 1px solid var(--border-grey);
}

#date-form {
    column-gap: 24px;
}

.pickups-data-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 24px;
    margin-bottom: 36px;
}

.pickup-data {
    flex: 1;
    margin: 0px; padding: 12px 24px; 
    background-color: var(--m-green); 
    color: white; 
    box-sizing: content-box; 
    text-align: left; 
    border-radius: 5px; 
    padding: 16px 24px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.2);
}

#total-pickups {
    display: flex;
    flex-direction: column;
}

.num-title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0px;
    margin-top: 4px;
}

.num-display {
    font-size: 24px;
    margin: 0px;
}

.dataset-hr {
    margin: 48px 0px;
}

.pickups-graph-wrapper {
    margin-bottom: 24px;
}

.bar-graph {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 16px;
    max-height: 40vh;
}

#header {
    justify-content: space-between;
    margin-bottom: 36px;
    margin-top: 16px;
}

#date-form {
    align-items: flex-end;
}

.form-group-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.form-group label {
    font-family: var(--mont);
}

#timeframe-window-wrapper .pickup-data {
    background-color: var(--m-blue);
}

#chart-wrapper {
    margin-top: 24px;
}

#chart-wrapper h3 {
    font-size: 20px;
    font-weight: 600;
}

#pickupChart {
    width: 100%;
    height: 40vh;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
}

.download-btn {
    height: 100%; padding: 10px 24px;
}

#filter-wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
}



@media only screen and (max-width: 768px) {
    body {
        background-color: var(--off-white);
        padding-top: 120px;
    }
    main {
        padding: 0em;
        margin-top: 80px;
    }


    .pickups-graph-wrapper {
        overflow:scroll;
    }

    #header {
        flex-direction: column;
        width: 100%;
    }

    #header h1 {
        width: 100%;
    }

    .pickups-data-wrapper {
        flex-direction: column;
        row-gap: 16px;
    }

    .pickup-data {
        width: 100%;
        box-sizing: border-box;
    }

    #date-form {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }

    .form-group-wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 12px;
    }

    #filter-wrapper {
        width: 100%;
    }

    #filter-h4 {
        text-align: center;
    }
}