#map-info-wrapper {
    width: 100vw; 
    padding-top: 170px;
    padding-bottom: 48px;
    background-color: var(--m-blue);
    background: linear-gradient(to bottom right, var(--m-green), var(--m-blue));
}

#map-info {
    flex-direction: row;
    column-gap: 64px;
    color: white;
    align-items: center;
    padding-bottom: 60px;
}

#dropbox-image {
    border-radius: 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: right bottom;
}

#info-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

#info-header h1 {
    margin-top: 0px; margin-bottom: 8px;
}

#info-map {
    margin-top: 60px;
}

#info-map h2 {
    margin-bottom: 8px;
}

#info-map p {
    max-width: 550px;
}

#google-map {
    min-height: 100%;
    min-width: 100%;
    height: 70vh;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.1);
    margin-top: 24px;
}

#acceptable-items {
    cursor: pointer;
    background-color: var(--yel);
    color: black;
    padding: 12px 24px;
    margin-top: 24px;
    font-weight: 600;
}

#acceptable-items:hover {
    background-color: var(--m-green);
    color: white;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.images img {
    flex: 1;
    max-width: calc(50% - .5rem);
    border-radius: 8px;
}

#items-info {
    display: none;
}

.popup-modal {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.popup-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#popup-btn-wrapper {
    margin-top: 48px;
}

#popup-btn-wrapper button {
    width: 200px; padding: 16px;
}

.popup-close {
  background: transparent;
  border: none;
  top: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .navbar__menu {
        background-color: rgba(0, 0, 0, .7);
        backdrop-filter: blur(10px);         /* applies the blur */
        -webkit-backdrop-filter: blur(10px);
    }
    #map-info-wrapper {
        padding-top: 150px;
    }
    #dropbox-image {
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
        object-position: right bottom;
    }
    #map-info {
        flex-direction: column;
        row-gap: 64px;
        align-items: flex-start;
    }
    .popup-content {
        max-width: 80%;
    }
}