html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}


#nav {
    background-color: var(--d-green);
}

main {
    background-image: url('/static/images/confirmation.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;            /* take up all available space */
    padding: 160px 0px;
    box-sizing: border-box;
}

#loading-popup h3 {
    margin-top: 0px; margin-bottom: 8px;
}

#confirmation-wrapper {
    background-color: var(--off-white);
    border-radius: 50px;
    padding: 40px;
    box-sizing: border-box;
}

#confirmation-wrapper h1 {
    font-size: 36px; font-weight: 500; margin-top: 0px;
}

#troublesome-p {
    margin-bottom: 24px; margin-top: 0px; max-width: 550px; word-break: break-word;
}

#confirmation-info-div {
    display: flex; flex-direction: row; align-items: center;
}

.confirmation-info {
    margin-bottom: 20px;
}

.bi-pencil {
    color: rgb(91, 91, 91)
}

.confirmation-info p {
    font-size: 14px;
    color: var(--subtle-text-wbg);
    margin: 0px;
    margin-bottom: 4px;
}

.confirmation-info h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

#items-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 36px;
    color: black;
}

.items {
    padding: 24px;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    height: 100%;
    flex: 1;
}

.items-header {
    display: flex; flex-direction: row; align-items: center;
}

.bi-check-lg {
    color: var(--m-green); font-size: 32px; margin: 0px; padding: 0px; margin-right: 12px;
}

.bi-x-lg {
    color: red; font-size: 32px; margin: 0px; padding: 0px; margin-right: 12px;
}
.items-header h3 {
    font-family: var(--crim); margin: 0px;
}

.green {
    color: var(--m-green);
}

.edit-pencil {
    margin-left: 16px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0);
    transition: border .2s ease;
    border-radius: 5px;
}

.edit-pencil:hover {
    border: 1px solid var(--border-grey);
    cursor: pointer;
}

#address-info {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 12px;
}

#edit-address-form {
    display: none;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 16px;
    font-family: var(--mont);
    margin: 0px;
    column-gap: 16px;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 16px;
}

.form-group-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 36px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#form-group-address {
    max-width: 300px;
}

#form-group-city {
    max-width: 220px;
}

#form-group-zipcode {
    max-width: 120px;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 12px;
}

.req {
    color: red;
}

.form-group input {
    font-size: 16px;
    padding: 12px 16px;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    font-family: var(--mont);
}

#update-address {
    background-color: var(--m-green);
    color: white;
    transition: background-color .2s ease, color .2s ease;
}

#update-address:hover {
    background-color: var(--yel);
    color: black;
}

footer {
    margin-top: 0px !important;
    box-shadow: none !important;
}

.download-btn {
    padding: 14px 16px;
}

@media only screen and (max-width: 768px) {
    #nav {
        background-color: var(--d-green);
    }
    
    main {
        background-image: url('/static/images/confirmation.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        box-sizing: border-box;
        padding-top: 15vh;
        padding-bottom: 10vh;
    }
    
    #confirmation-wrapper {
        border-radius: 20px;
        padding: 2em;
    }
    
    .confirmation-info p {
        font-size: 14px;
        color: var(--subtle-text-wbg);
        margin: 0px;
        margin-bottom: 4px;
    }
    
    .confirmation-info h4 {
        font-size: 16px;
        font-weight: 500;
        margin: 0px;
        margin-bottom: 16px;
    }
    
    #items-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 36px;
        overflow-x: scroll;
    }
    
    .items {
        padding: 24px;
        border: 1px solid var(--border-grey);
        border-radius: 10px;
        height: 100%;
    }
    
    .edit-pencil {
        margin-left: 16px;
        padding: 5px;
        border: 1px solid rgba(0,0,0,0);
        transition: border .2s ease;
        border-radius: 5px;
    }
    
    .edit-pencil:hover {
        border: 1px solid var(--border-grey);
        cursor: pointer;
    }
    
    #edit-address-form {
        flex-direction: column;
        align-items: flex-start;
        font-family: var(--mont);
        margin: 0px;
        row-gap: 16px;
        justify-content: flex-start;
        margin-top: 16px;
        margin-bottom: 16px;
        display: none;
    }
    
    .form-group-div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        column-gap: 36px;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    .form-group label {
        font-weight: 500;
        margin-bottom: 12px;
    
    }
    
    .form-group input {
        font-size: 16px;
        padding: 12px 16px;
        border: 1px solid var(--border-grey);
        border-radius: 5px;
        font-family: var(--mont);
    }

    #update-address {
        margin-top: 16px;
    }
}