body {
    background-color: var(--d-green);
    padding-top: 150px;
}

main {
    min-height: calc(100vh - 650px);
}

#nav {
    background-color: rgba(0,0,0,0.2);
}

#footer {
    box-shadow: none;
}

#request-id-modal {
    background-color: var(--off-white);
    border-radius: 50px;
    padding: 3em 3em; 
    box-sizing: border-box;
    font-family: var(--mont);
    text-align: center;
}

#request-id-modal h2 {
    margin: 0px;
}

#request-id-modal input {
    font-family: var(--mont);
}

.action-btn {
    padding: 24px 16px;
    width: 100%;
}

#edit-request-form {
    margin-top: 16px;
}

.edit-request-label {
    margin-top: 8px;
}

#request_id {
    height: 48px;
    width: 360px;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    font-family: var(--mont);
    text-align: center;
    font-size: 16px;
    margin-bottom: 36px;
    margin-top: 4px;
}

#requester_email {
    height: 48px;
    width: 360px;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    font-family: var(--mont);
    text-align: center;
    font-size: 16px;
    margin-bottom: 36px;
    margin-top: 4px;
}

.confirmation-info p {
    font-size: 14px;
    color: var(--subtle-text-wbg);
    margin: 0px;
    margin-bottom: 4px;
}

.confirmation-info h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 16px;
}

#edit-info-wrapper {
    background-color: var(--off-white);
    border-radius: 50px;
    padding: 3em 3em; 
    box-sizing: border-box;
    font-family: var(--mont);
}

.edit-pencil {
    margin-left: 16px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0);
    transition: border .2s ease;
    border-radius: 5px;
}

.edit-pencil:hover {
    border: 1px solid var(--border-grey);
    cursor: pointer;
}

#edit-address-form {
    flex-direction: row;
    align-items: flex-end;
    font-family: var(--mont);
    margin: 0px;
    column-gap: 16px;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 16px;
}

.form-group-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 36px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 12px;

}

.form-group input {
    font-size: 16px;
    padding: 12px 16px;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    font-family: var(--mont);
}

#update-address {
    background-color: var(--m-green);
    color: white;
    transition: background-color .2s ease, color .2s ease;
}

#update-address:hover {
    background-color: var(--yel);
    color: black;
}

#cancel-wrapper {
    flex-direction: column;
    align-items: flex-end;
}

#cancel-confirm-wrapper {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 12px;
}

#cancel-request-init.active {
    background-color: rgb(219, 104, 104);
    border: 2px solid rgb(219, 104, 104);
}

#cancel-request-init.active:hover {
    background-color: rgb(219, 104, 104);
    border: 2px solid rgb(219, 104, 104);
    cursor: not-allowed;
}

#cancel-confirm-btn-wrapper {
    column-gap: 24px;
}

#cancel-btn {
    background-color: rgb(196, 0, 0);
    color: white;
}

#cancel-btn:hover {
    background-color: rgb(255, 2, 2);
}


#timeframe-form {
    flex-direction: column;
    width: 100%;
    margin-bottom: 48px;
    padding-bottom: 48px;
}

#date-selection-scroll {
    width: 100%;
    overflow-x: scroll;
}

#date-selection-wrapper {
    display: inline-flex;   
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 36px;
    margin-top: 36px;
    width: 100%;
    padding-bottom: 12px;
}

.day-wrapper {
    flex-direction: column;
    flex: 1;
    min-width: 160px;
    border: 1px solid var(--border-grey);
    padding: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border .2s ease, background-color .2s ease;
}

.day-wrapper:hover {
    border: 1px solid var(--yel);
    background-color: var(--yel);
    cursor: pointer;
}

.day-wrapper.active {
    background-color: var(--yel);
    color: black;
    border: 1px solid rgba(0,0,0,0);
}

.timeframe-selector {
    width: 100%;
    height: 56px;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: background-color .2s ease, border .2s ease, box-shadow .2s ease;
}

.timeframe-selector:hover {
    background-color: #eab20838;
    border: 1px solid var(--yel);
}

.timeframe-selector.active {
    background-color: var(--yel);
    color: black;
    border: 1px solid rgba(0,0,0,0);
}

.timeframe-selector.active h4 {
    transition: font-weight .2s ease;
    font-weight: 600 !important;
}

.week-btn {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: black;
    background-color: #E7E7E7;
    font-weight: 500;
    font-size: 14px;
    transition: background-color .2s ease;
}

.week-btn:hover {
    background-color: #c8c8c8;
}

#timeframe-submit-btn {
    height: auto;
    padding: 12px 24px;
    max-width: 320px;
    margin: 0px auto;
}

#timeframe-submit-btn:disabled {
    color: rgba(255, 255, 255, 0.797);
    background-color: #098223bb;
}

#timeframe-submit-btn:disabled:hover {
    cursor: not-allowed;
}

#cancel-edit-date {
    margin-top: 16px;
    padding: 8px 24px;
}

@media only screen and (max-width: 768px) {
    #nav {
        background-color: var(--d-green);
    }
    
    #confirmation-wrapper {
        border-radius: 20px;
        padding: 2em 1em;
    }
    
    .confirmation-info p {
        font-size: 14px;
        color: var(--subtle-text-wbg);
        margin: 0px;
        margin-bottom: 4px;
    }
    
    .confirmation-info h4 {
        font-size: 16px;
        font-weight: 500;
        margin: 0px;
        margin-bottom: 16px;
    }
    
    #items-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 36px;
        overflow-x: scroll;
    }
    
    .items {
        padding: 24px;
        border: 1px solid var(--border-grey);
        border-radius: 10px;
        height: 100%;
    }
    
    .edit-pencil {
        margin-left: 16px;
        padding: 5px;
        border: 1px solid rgba(0,0,0,0);
        transition: border .2s ease;
        border-radius: 5px;
    }
    
    .edit-pencil:hover {
        border: 1px solid var(--border-grey);
        cursor: pointer;
    }
    
    #edit-address-form {
        flex-direction: column;
        align-items: flex-start;
        font-family: var(--mont);
        margin: 0px;
        row-gap: 16px;
        justify-content: flex-start;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .form-group-div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        column-gap: 36px;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    .form-group label {
        font-weight: 500;
        margin-bottom: 12px;
    
    }
    
    .form-group input {
        font-size: 16px;
        padding: 12px 16px;
        border: 1px solid var(--border-grey);
        border-radius: 5px;
        font-family: var(--mont);
    }

    #date-selection-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 24px;
    }

    .day-wrapper {
        width: 100%;
    }

    #update-address {
        margin-top: 16px;
    }
}