body {
    background-color: var(--d-green);
}

main {
    margin-top: 150px !important;
    border-radius: 20px;
    max-width: 660px !important;
    box-sizing: border-box;
    padding: 40px;
    background-color: white;
}

.pickup-stop {
    margin-bottom: 24px;
}

.pickup-header {
    padding: 16px 24px;
    background-color: var(--m-green);
    color: white;
    border-radius: 10px 10px 0px 0px;
    justify-content: flex-start;
}

.pickup-header h4, .dropdown-header h4 {
    font-size: 20px;
    margin: 0px;
}

.pickup-header p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.pickup-content {
    padding: 24px 24px;
    border: 1px solid var(--border-grey);
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    box-sizing: border-box;
}