<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Admin | EkoLinq{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminBase_styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/EkoLinq_Square_Logo_WBG.png') }}">

  {% block extra_head %}{% endblock %}
</head>
<body>

  <!-- Include a site-wide navbar -->
  {% include 'admin/partials/_admin_navbar.html' %}

  <!-- Main content will be inserted here -->
  <div id="main-content" style="padding-bottom: 60px;">
      <div id="overlay" aria-hidden="true">
        <div class="spinner" role="status" aria-label="Loading…"></div>
      </div>
      {% block content %}{% endblock %}
  </div>



  <!-- JS Scripts that are needed everywhere can go here -->
  {% block scripts %}
  <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/site.js') }}"></script>
  {% endblock %}
  
</body>
</html>