<!-- templates/admin.html -->
{% extends "admin/admin_base.html" %}

{% block title %}ADMIN | EkoLinq{% endblock %}

{% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_styles.css') }}">
{% endblock %}

{% block content %}
<main>
  <div class="content-width" id="admin-panel-wrapper">
    <h1 style="margin: 0px; margin-bottom: 24px;">Scheduling Overview</h1>
    <h2 style="margin: 0px; margin-bottom: 0px;">Timeframe Configuration</h2>
    <p style="max-width: 550px; word-break: break-word;">If no timeslots are filled for a selected day, that day will remain unavailable for users to select. Only one timeslot needs to be filled for a day to be available.</p>
    <form method="POST" action="{{ url_for('admin') }}">
      <table cellpadding="5" cellspacing="0">
        <thead>
          <tr>
            <th>Day of Week</th>
            <th>Available?</th>
            <th>Slot 1 (Start-End)</th>
            <th>Slot 2 (Start-End)</th>
          </tr>
        </thead>
        <tbody>
          {% for sched in schedule_data %}
            <tr>
              <td>{{ sched.day_of_week }}</td>
              <td>
                <input type="checkbox" name="day_{{ loop.index }}_available" 
                        {% if sched.is_available %} checked {% endif %}>
              </td>
              <td>
                <input type="hidden" name="record_{{ loop.index }}_id" value="{{ sched.id }}">
                <input type="text" name="day_{{ loop.index }}_slot1_start" 
                        value="{{ sched.slot1_start or '' }}" placeholder="08:00" size="5"> -
                <input type="text" name="day_{{ loop.index }}_slot1_end" 
                        value="{{ sched.slot1_end or '' }}" placeholder="12:00" size="5">
              </td>
              <td>
                <input type="text" name="day_{{ loop.index }}_slot2_start" 
                        value="{{ sched.slot2_start or '' }}" placeholder="13:00" size="5"> -
                <input type="text" name="day_{{ loop.index }}_slot2_end" 
                        value="{{ sched.slot2_end or '' }}" placeholder="17:00" size="5">
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br/>
      <button type="submit" class="download-btn" id="save-sched-btn">Save Schedule</button>
    </form>

    <!-- Show a table of all PickupRequests -->
    <div style="display: flex; flex-direction: row; align-items: center; column-gap: 24px; margin: 36px 0px;">
      <h2 style="margin: 0px;">Pickup Requests</h2>
      <p style="margin: 0px;" class="download-btn">
        <a href="{{ url_for('download_csv') }}" style="text-decoration: none; color: black;">Download Pickup Requests as CSV</a>
      </p>
    </div>
    <div id="table-wrapper" style="overflow-x: scroll; padding-bottom: 50px;">
      <table id="requests-table" border="1" cellpadding="5" cellspacing="0" >
        <thead>
          <tr>
            <th>Status</th>
            <th>Date Filed</th>
            <th>Request Date</th>
            <th>Request Time</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>Zip</th>
            <th>Notes</th>
            <th>Gated</th>
            <th>QR Code</th>
            <th>Gate Code</th>
            <th>Will Notify</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          {% for req in requests %}
            <tr>
              <td style="min-width: 120px;">{{ req.status }}</td>
              <td style="min-width: 150px;">{{ req.date_filed }}</td>
              <td style="min-width: 150px;">{{ req.request_date }}</td>
              <td style="min-width: 150px;">{{ req.request_time }}</td>
              <td style="min-width: 300px;">{{ req.email }}</td>
              <td style="min-width: 250px;">{{ req.address }}</td>
              <td style="min-width: 150px;">{{ req.city }}</td>
              <td style="min-width: 75px;">{{ req.zipcode }}</td>
              <td style="min-width: 300px; word-break: break-word;">{{ req.notes }}</td>
              <td style="min-width: 100px;">{{ req.gated }}</td>
              <td style="min-width: 100px;">                
                {% if req.qr_code %}
                <b>True</b>
                {% else %}
                False
                {% endif %}
              </td>
              <td style="min-width: 100px;">
                {% if req.gate_code %}
                <b>{{ req.gate_code }}</b>
                {% else %}
                False
                {% endif %}
              </td>
              <td style="min-width: 100px;">
                {% if req.notify %}
                <b>True</b>
                {% else %}
                False
                {% endif %}
              </td>
              <td style="min-width: 150px;">{{ req.fname }}</td>
              <td style="min-width: 200px;">{{ req.lname }}</td>
              <td style="min-width: 50px;">{{ req.id }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
</main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/admin/routeOverview.js') }}"></script>
{% endblock %}