<!-- templates/admin.html -->
{% extends "admin/admin_base.html" %}

{% block title %}Scheduling Overview | EkoLinq{% endblock %}

{% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/adminSchedule_styles.css') }}">
{% endblock %}

{% block content %}
<main class="content-width">
    <h1>Scheduling Overview</h1>
    <h2>Timeframe Configuration</h2>
    <p>If no timeslots are filled for a selected day, that day will remain unavailable for users to select. Only one timeslot needs to be filled for a day to be available.</p>
  <form id="date-timeframe-form" method="POST" action="{{ url_for('admin_schedule') }}">
    {{ admin_schedule_form.hidden_tag() }}
    <table cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th>Day of Week</th>
          <th>Available?</th>
        </tr>
      </thead>
      <tbody>
        {# Iterate over both the form entries and the schedule_data #}
        {% for day_form, sched in zipped_data %}
          <tr>
            <td>{{ sched.day_of_week }}</td>
            <td>
              {{ day_form.is_available() }}
              {{ day_form.record_id() }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br/>
    {{ admin_schedule_form.submit(class="download-btn", id="save-sched-btn") }}
  </form>

  <!-- Address Form -->
  <form id="address-form" class="align-left" method="POST" action="{{ url_for('admin_set_address') }}">
    {{ admin_address_form.hidden_tag() }}
    <label for="admin-address">Set the Start and End Address for the Routing System</label>
    <p class="mt0 small-text"><i>Must be in full address format (address, city, state, zip)</i></p>
    {{ admin_address_form.admin_address(class="form-control", id="admin-address") }}
    {{ admin_address_form.submit(class="download-btn", id="update-admin-address") }}
  </form>
</main>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}