<!-- templates/admin.html -->
{% extends "admin/admin_base.html" %}

{% block title %}All Pick Ups | EkoLinq{% endblock %}

{% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/adminPickups_styles.css') }}">
{% endblock %}

{% block content %}
<main  class="content-width">
  <h1>Pick Ups Overview</h1>
  <!-- Show a table of all PickupRequests -->
  <div id="header">
    <h2 class="mt0">All Pickup Requests</h2>
    <form action="{{ url_for('clean_pickups') }}"
        method="POST" id="cleanup_form">
        {{ cleanup_form.csrf_token }}
        {{ cleanup_form.submit(class="download-btn") }}
    </form>
  </div>
  <h4 class="filter-h4">FILTERS</h4>
  <form id="filter-form" class="align-left" method="GET" action="{{ url_for('filtered_requests') }}">
    <div class="filter-form-group-wrapper">
      <div class="filter-form-group">
        <label for="sort-by">Sort By:</label>
        <select name="sort_by" id="sort-by">
          <option value="">Default</option>
          <option value="date_filed">Date Filed</option>
          <option value="date_requested">Date Requested</option>
        </select>
      </div>
      <div class="filter-form-group">
        <label for="status-filter">Status:</label>
        <select name="status_filter" id="status-filter">
          <option value="">All</option>
          <option value="Unfinished">Unfinished</option>
          <option value="Requested">Requested</option>
          <option value="Complete">Complete</option>
          <option value="Incomplete">Incomplete</option>
          <option value="Cancelled">Cancelled</option>
        </select>
      </div>
    </div>
    <div class="filter-form-group-wrapper">
      <div class="filter-form-group">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="start_date">
      </div>
      <div class="filter-form-group">
        <label for="end-date">End Date:</label>
        <input type="date" id="end-date" name="end_date">
      </div>
    </div>
  </form>
  <div id="table-wrapper">
    <table id="requests-table" border="1" cellpadding="5" cellspacing="0" >
      <thead>
        <tr>
          <th>Delete</th>
          <th>Status</th>
          <th>Date Filed</th>
          <th>Request Date</th>
          <th>Request Time</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>City</th>
          <th>Zip</th>
          <th>Notes</th>
          <th>Gated</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>ID</th>
          <th>Completion Date/Time</th>
        </tr>
      </thead>
      <tbody>
        {% for req in requests %}
        <tr>
          <td class="min-w-80 align-center">
            <form action="{{ url_for('delete_pickup') }}" method="POST">
              {{ delete_form.csrf_token }}  <!-- CSRF protection -->
              <input type="hidden" name="pickup_id" value="{{ req.id }}">
              <button
                type="submit"
                id="delete-request"
                class="download-btn delete-request-btn">
                Delete
              </button>
            </form>
            <button class="download-btn" id="view-request" data-attribute="{{ req.request_id }}">View</button>
          </td>
          <td class="min-w-120
                {% if req.status == 'Complete' %}
                  status-complete
                {% elif req.status == 'Requested' %}
                  status-requested
                {% endif %}">
            {{ req.status }}
          </td>
          <td class="min-w-150">{{ req.date_filed }}</td>
          <td class="min-w-150">{{ req.request_date }}</td>
          <td class="min-w-150">{{ req.request_time }}</td>
          <td class="min-w-300">{{ req.email }}</td>
          <td class="min-w-200">{{ req.phone_number }}</td>
          <td class="min-w-250">{{ req.address }}</td>
          <td class="min-w-150">{{ req.city }}</td>
          <td class="min-w-75">{{ req.zipcode }}</td>
          <td class="min-w-300 word-break">{{ req.notes }}</td>
          <td class="min-w-100">{{ req.gated }}</td>
          <td class="min-w-150">{{ req.fname }}</td>
          <td class="min-w-200">{{ req.lname }}</td>
          <td class="min-w-50">{{ req.request_id }}</td>
          <td class="min-w-250">{{ req.pickup_complete_info }}</td>
        </tr>
        {% endfor %}          
      </tbody>
    </table>
  </div>
</main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/admin/pickups.js') }}"></script>
{% endblock %}