{% extends "admin/admin_base.html" %}

{% block title %}Live Route {{ date }} | EkoLinq{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/liveRoute_styles.css') }}">
{% endblock %}

{% block content %}
<main class="content-width">
  <button class="download-btn" id="show-actions"><i class="bi bi-arrow-down-circle"></i>Show Actions</button>
  <div id="actions-wrapper">
    <p><strong>Actions</strong></p>
    <form action="{{ url_for('refresh_route') }}"
        method="POST" id="refresh-route-form">
        <input type="hidden" name="date" value="{{ request.args.get('date') }}">
        {{ refresh_form.csrf_token }}
        <div class="form-group">
          <label for="firstName">Address to Start From</label>
          {{ refresh_form.address(id="refresh-address", value=driver_location) }}
        </div>
        <div class="form-group" id="boolean-form-group">
          {{ refresh_form.recalc_from_depot(id="use-admin-addr") }}
          <label for="firstName"> Use the Admin Address instead?</label>
        </div>
        <button type="submit" class="download-btn" id="refresh-form-btn">
          <i class="bi bi-arrow-clockwise"></i> Recalculate Route
        </button>
    </form>
    <form action="{{ url_for('live_route_debug') }}"
        method="GET" id="live-route-debug">
        <input type="hidden" name="date" value="{{ request.args.get('date') }}">
        {{ debug_form.csrf_token }}
        <button type="submit" class="download-btn">
            <i class="bi bi-bug"></i> Capture a Debug Report
        </button>
    </form>
  </div>

  <h2 class="col-green header">
    Live Pick Ups  |  {{ date }}
  </h2>
  <div id="route-stats">
    <p class="col-subtle fs-14 time-remaining"><i><span class="time">{{ total_time_str }} remaining</span></i></p>
    <p class="col-subtle fs-14 distance-remaining"><i><span class="miles">{{ total_distance_str }} left</span></i></p>
  </div>
  <!-- Completed section -->
  <div id="completed-pickups">
    <div id="completed-header" class="dropdown-header align-left">
      <h4 class="mt0">Completed</h4>
      <i class="bi bi-chevron-down" id="completed-pickups-icon"></i>
    </div>
    <!-- Show/hide this as needed -->
    <div id="listed-completed-pickups" class="align-center">
      {% if pickups_completed %}
        {% for pickup in pickups_completed %}
          <div class="pickup-stop completed-stop">
            <div class="completed-header">
              <h4>Request Status: <b>{{ pickup.status }}</b></h4>
            </div>
            <div class="pickup-content completed-content">
              <p>{{ pickup.address }}{% if pickup.address2%} {{ pickup.address2}}{% endif %}, {{ pickup.city }}, CA</p>
              <div class="align-center button-wrapper">
                <!-- Button says "Mark as Incomplete" to move back to queue -->
                <button class="mark-complete mark-incomplete button-wrapper-btn"
                        data-pickup-id="{{ pickup.id }}"
                        data-current-status="Complete">
                  <i class="bi bi-x-octagon"></i> Move Back To Pickup Queue
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No completed pickups yet.</p>
      {% endif %}
    </div>
  </div>
  {{ pickup_status_form.hidden_tag() }}
  <!-- Requested section -->
  {% if pickups_requested %}
    {% for pickup in pickups_requested %}
      <div class="pickup-stop" {% if loop.index == 1 %}class="mb64"{% endif %}>
        <div class="pickup-header {% if loop.index != 1 %}disabled{% endif %}">
          <h4>{{ pickup.address }} <span class="span-text">{{ pickup.city }}, CA</span></h4>
        </div>        
        <div class="pickup-content">
          {% if pickup.gated %}
          <div class="pickup-gate-info">
            <p class="text-flag">User Marked Address as Gated!</p>
          </div>
          {% endif %}
          <div class="customer-info">
            <div class="info-block">
              <p><strong>Name: </strong>{{ pickup.fname }} {{ pickup.lname }}</p>
              <p><strong>Phone Number: </strong><a href="tel:{{ pickup.phone_number }}">{{ pickup.phone_number }}</a></p>
              <p><strong>Email: </strong><a href="mailto:{{ pickup.email }}">{{ pickup.email }}</a></p>
            </div>
          </div>
          {% if pickup.address2 %}
            <p class="mt0"><strong>Secondary Address:</strong></p>
            <p>{{ pickup.address2 }}</p>
          {% endif %}
          {% if pickup.notes %}
            <p class="mt0"><strong>Customer Notes:</strong></p>
            <p>{{ pickup.notes }}</p>
          {% endif %}
          {% if pickup.admin_notes %}
            <p class="mt0"><strong>Admin Notes:</strong></p>
            <p>{{ pickup.admin_notes }}</p>
          {% endif %}
          <div class="align-center button-wrapper">
            <button 
                {% if loop.index != 1 %} disabled {% endif %}
                class="open-map button-wrapper-btn"
                data-address="{{ pickup.address }}"
                data-city="{{ pickup.city }}"
            >
                <i class="bi bi-geo-alt"></i>Open Maps
            </button>
            <!-- If it’s not the first in the list, disable the "Mark Complete" button -->
            <button class="mark-complete button-wrapper-btn"
                    data-pickup-id="{{ pickup.id }}"
                    data-current-status="Requested"
                    {% if loop.index != 1 %} disabled {% endif %}>
              <i class="bi bi-check-circle"></i> Mark Complete
            </button>
            <button class="mark-pickup-not-possible"
                    data-pickup-id="{{ pickup.id }}"
                    data-current-status="Requested"
                    {% if loop.index != 1 %} disabled {% endif %}>
                    Can't complete pickup
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h3>🎉 You have completed all of the stops!</h3>
  {% endif %}
</main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/admin/liveRoute.js') }}"></script>
{% endblock %}
