{% extends "admin/admin_base.html" %}

{% block title %}Pick Ups Overview | EkoLinq{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/routeOverview_styles.css') }}">
{% endblock %}

{% block content %}
<main class="content-width">
  <h1>Route Overview</h1>
  {% if next_pickup %} 
  <div id="next-pickup">
    <div class="align-center pickup-header">
        <h4 class="mt0">Today's Pickup Route  <span class="small-header">{{ next_pickup.formatted_date }}</span></h4>
    </div>
    <div class="pickup-content no-border">
        {% if next_pickup %}
        <div id="pb-8">
            {% for timeframe in next_pickup.timeframes %}
            <div>
              <p>{{ timeframe.count }} pickup{% if timeframe.count > 1 %}s{% endif %}</p>
            </div>
          {% endfor %}
        </div>
        <a href="{{ url_for('live_route') }}?date={{ next_pickup.date }}" ><div class="pickup-date-btn"><p class="mt0">Start Pick Ups</p></div></a>
      {% else %}
        <p>No upcoming pickups available.</p>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div id="upcoming-pickups">
    <div id="upcoming-dates-header" class="align-left dropdown-header">
        <h4 class="mt0">Upcoming Pickups</h4>
        <i class="bi bi-chevron-down" id="upcoming-pickups-icon"></i>
    </div>

    {% if upcoming_dates %}
    <div id="upcoming-dates" class="pickups-listing">
        {% for pickup in upcoming_dates %}
        <div>
            <div class="pickup-header" id="upcoming-header">
                <h4>{{ pickup.formatted_date }}</h4>
            </div>
            <div class="pickup-content">
                {% for timeframe in pickup.timeframes %}
                <div>
                    <p>{{ timeframe.count }} pickups</p>
                </div>
                {% endfor %}
              <a href="{{ url_for('view_route_info') }}?date={{ pickup.date }}" ><div class="pickup-date-btn view-date-btn"><p class="mt0">View Info</p></div></a>
            </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p>No upcoming pickups available.</p>

    {% endif %}
  </div>
  <div id="past-pickups">
    <div id="past-pickups-header" class="align-left dropdown-header">
        <h4 class="mt0">Past Pickups</h4>
        <i class="bi bi-chevron-down" id="past-pickups-icon"></i>
    </div>
    {% if past_dates %}
    <div id="past-dates" class="pickups-listing">
        {% for pickup in past_dates %}
        <div class="mb-24">
          <div class="pickup-header">
            <h4>{{ pickup.formatted_date }}</h4>
          </div>
          <div class="pickup-content">
            <ul>
              {% for timeframe in pickup.timeframes %}
                <li>
                  {{ timeframe.count }} pickups
                </li>
              {% endfor %}
            </ul>
            <a href="{{ url_for('view_route_info') }}?date={{ pickup.date }}" ><div class="pickup-date-btn view-date-btn"><p class="mt0">View Info</p></div></a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No past pickups available.</p>
    {% endif %}
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/admin/routeOverview.js') }}"></script>
{% endblock %}

