{% extends "admin/admin_base.html" %}

{% block title %} Route Info {{ date }} | EkoLinq{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/routeInfo_styles.css') }}">
{% endblock %}

{% block content %}
<main class="content-width">
  <h2 style="color: var(--m-green); font-family: var(--pub); margin: 0px;">
    Route Overview <span style="font-size: 14px; color: var(--subtle-text-wbg)"><i>Est. {{ total_time_str }}</i></span>
  </h2>
  <p style="margin-top: 8px; color: var(--subtle-text-wbg)">{{ date }}</p>

  <!-- Requested section -->
  <div>
    <h3>Stops</h3>
  </div>
  {% if all_pickups %}
    {% for pickup in all_pickups %}
      <div class="pickup-stop">      
        <p style="margin: 0px; margin-bottom: 8px;">{{ pickup.address }}</p>
        <p style="margin: 0px; margin-bottom: 8px;">{{ pickup.city }}, CA</p>
        {% if pickup.email %}
        <p style="margin: 0px;">{{ pickup.email }}, CA</p>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <h3>Either there are no pickups scheduled for this route or you have completed all of the stops.</h3>
  {% endif %}
</main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/admin/liveRoute.js') }}"></script>
{% endblock %}
