{% extends "admin/admin_base.html" %}

{% block title %} Route Info {{ date }} | EkoLinq{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/routeInfo_styles.css') }}">
{% endblock %}

{% block content %}
<main class="content-width">
  <button id="back-btn" class="download-btn"><i class="bi bi-arrow-left"></i> Back to Routes</button>
  <h2 class="col-green mt0">
    Route Info
  </h2>
  <p id="date-text">{{ date }}</p>

  <!-- Requested section -->
  <h3>Stops</h3>
  {% if all_pickups %}
    {% for pickup in all_pickups %}
      <div class="pickup-stop">      
        <p class="m08">{{ pickup.address }}{% if pickup.address2 %}{{ pickup.address2 }}{% endif %}</p>
        <p class="m08">{{ pickup.city }}, CA</p>
        {% if pickup.email %}
        <p class="mt0">{{ pickup.email }}</p>
        {% endif %}
        {% if pickup.gated %}
        <p class="highlighted-text">Address is gated. Check email for QR or gate code.</p>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <h3>Either there are no pickups scheduled for this route or you have completed all of the stops.</h3>
  {% endif %}
</main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script nonce="{{ csp_nonce() }}">
    const backBtn = document.getElementById('back-btn');
    backBtn.addEventListener('click', function() {
      window.location.href = '/route-overview';
    });
  </script>
{% endblock %}
