{% extends "base.html" %}

{% block title %}Too Many Requests | EkoLinq{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing_styles.css') }}">
{% endblock %}

{% block content %}
<main id="main-429" class="content-width align-center">
  <div id="div-wrapper-429" class="align-center">
    <h1>
      Whoa there! <i class="bi bi-exclamation-triangle"></i>
    </h1>
    <h3>It seems you've made too many requests too quickly.</h3>
    <p>
      {% if retry_after %}
        Please wait {{ retry_after }} before trying again.
      {% else %}
        Please slow down and try again after a while.
      {% endif %}
    </p>
    <button id="error-back-to-home" class="submit-btn">
      Back to the Homepage
    </button>
  </div>
</main>
{% endblock %}
