{% extends "base.html" %}

{% block title %}About Us | EcoTextile Pickup{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about_styles.css') }}">
{% endblock %}

{% block content %}
<main>
  <div id="header-wrapper">
    <div class="content-width" id="header">
      <div style="flex: 1;" id="header-left">
        <h1 style="font-size: 56px; margin-top: 0px; margin-bottom: 36px;">Who We Are</h1>
        <div id="desk-icons">
          <div id="header-icons" class="align-left">
            <img src="../static/images/neighborhood_fave_2024.svg" alt="">
            <img src="../static/images/neighborhood_fave_2023.svg" alt="">
            <img src="../static/images/neighborhood_fave_2022.svg" alt="">
          </div>
          <p style="font-size: 12px; color: var(--border-grey); max-width: 220px; margin-top: 16px;">EkoLinq has been a proud "Neighborhood Fave" on <a style="text-decoration: underline; color: var(--border-grey)" href="https://nextdoor.com/pages/ekolinq-irvine-ca/?init_source=search&query=EkoLinq">Nextdoor</a> for three consecutive years.</p>
        </div>
      </div>
      <h4 style="flex: 1; margin: 0px;">EkoLinq is a family-owned business dedicated to building a more sustainable future in California’s Tri-Valley region by keeping clothing in use and out of landfills. Founded in 2021, EkoLinq was born from a moment of inspiration after our founder read <a style="text-decoration: underline; color: black" href="https://www.goodreads.com/book/show/42972014-secondhand">Secondhand</a> by Adam Minter—a powerful look into the global secondhand economy and the urgent need for local solutions to textile waste.</h4>
      <div id="mobile-icons">
        <div id="header-icons" class="align-left">
          <img src="../static/images/neighborhood_fave_2024.svg" alt="">
          <img src="../static/images/neighborhood_fave_2023.svg" alt="">
          <img src="../static/images/neighborhood_fave_2022.svg" alt="">
        </div>
        <p style="font-size: 12px; color: var(--border-grey); max-width: 220px; margin-top: 16px;">EkoLinq has been a proud "Neighborhood Fave" on <a style="text-decoration: underline; color: var(--border-grey)" href="https://nextdoor.com/pages/ekolinq-irvine-ca/?init_source=search&query=EkoLinq">Nextdoor</a> for three consecutive years.</p>
      </div>
    </div>
  </div>
  <div class="content-width align-center" id="block-text">
    <div id="block-text-center" class="align-center">
      <div class="align-center" style="width: 100%;">
        <div id="lightbulb" class="align-center"><i class="bi bi-lightbulb" style="margin: 0px;"></i></div>
        <hr style="border-bottom: 1px solid black; width: 100%; margin-left: 32px;">
      </div>
      <h4>At EkoLinq, we believe the best path forward is simple: <b style="font-weight: 600;">reuse what we can and recycle what we can’t</b>. Our priority is to extend the life of clothing by encouraging reuse in its original form—this is not only the most environmentally friendly option but also the most impactful. When garments are too damaged to wear again, we work to ensure they are responsibly recycled so their materials can be transformed and used again.</h4>
    </div>
  </div>
  <div class="content-width" id="final">
    <div style="flex: 1;" id="final-left">
      <h1 style="margin-top: 0px; margin-bottom: 24px;">Through community partnerships, education, and action, <strong style="font-weight: 600;">EkoLinq is helping shift the culture of waste in our region one garment at a time.</strong></h1>
      <h4>If you’d like to be a part of our mission of helping the environment, <a href="/" style="text-decoration: underline; color: var(--m-green);">head to our homepage</a> to schedule a pickup of your textile waste.</h4>
    </div>
    <img id="pleasanton" src="../static/images/pleasanton.jpg" alt="">
  </div>
  <div class="content-width align-center" id="testimonial">
    <h3 style="font-size: 30px; text-align: center; max-width: 740px; margin-top: 0px;">“Thank you for everything you all do—I’ve always hated throwing out my old clothes and now I know that they’re ending up in good hands.”</h3>
    <h4 style="margin: 0px"><b>Pleasanton Community Member</b></h4>
  </div>
</main>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- Additional scripts can be added here if needed -->
{% endblock %}
