<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Primary SEO tags -->
  <title>{% block title %}EkoLinq | Free Textile Pickups{% endblock %}</title>
  <meta name="description"
      content="{% block meta_description %}EkoLinq offers free textile pickups throughout the Tri-Valley. Schedule online today!{% endblock %}">

  <meta name="robots" content="index, follow">

  <script nonce="{{ csp_nonce() }}" async src="https://www.googletagmanager.com/gtag/js?id=G-VMEB0NG3KZ"></script>
  <script nonce="{{ csp_nonce() }}">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0NCMTDXTHR');
  </script>

  <!-- Canonical -->
  <link rel="canonical" href="{{ request.url }}"/>

  <!-- Open Graph -->
  <meta property="og:type" content="{% block og_type %}website{% endblock %}">
  <meta property="og:title"
        content="{% block og_title %}{{ self.title() }}{% endblock %}">
  <meta property="og:description"
        content="{% block og_description %}{{ self.meta_description() }}{% endblock %}">
  <meta property="og:url"    content="{{ request.url }}">
  <meta property="og:image"
        content="{% block og_image %}{{ url_for('static', filename='images/ekolinq_thumbnail.jpeg', _external=True) }}{% endblock %}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ url_for('static', filename='images/ekolinq_thumbnail.jpeg', _external=True) }}">

  <!-- Favicon & CSS -->
  <link rel="icon" href="{{ url_for('static', filename='images/EkoLinq_Square_Logo_GBG.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  {% block extra_head %}{% endblock %}
</head>
<body>

  <!-- Include a site-wide navbar -->
  {% include 'partials/_navbar.html' %}

  <!-- Main content will be inserted here -->
  <div id="main-content">
      {% block content %}{% endblock %}
  </div>
  <div class="overlay" id="overlay"></div>
  
  <!-- reCAPTCHA script -->
  <script src="https://www.google.com/recaptcha/api.js" async defer nonce="{{ csp_nonce() }}"></script>
  
  <!-- Include a site-wide footer -->
  {% include 'partials/_footer.html' %}

  <!-- JS Scripts that are needed everywhere can go here -->
  {% block scripts %}
  <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/site.js') }}"></script>
  {% endblock %}
  
</body>
</html>
