{% extends "base.html" %}

{% block title %}Request Complete | EkoLinq{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/confirmation_styles.css') }}">
{% endblock %}
{% block content %}
  <main>
    <div id="loading-popup">
      <h3>Submitting Change</h3>
      <p>We're shooting you an email to confirm these updates.</p>
      <div class="loader">
      </div>
    </div>
    <div class="content-width" id="confirmation-wrapper">
        <h1>You're all set!</h1>
        <p id="troublesome-p">Thanks for choosing to responsibly get rid of your textiles. We’ve sent you an email with all of the information you need. <b>Please remember to have your items out by 8AM on the day of your pick-up.</b></p>
        <div class="confirmation-info">
          <p>Pickup ID</p>
          <h4>{{ pickup.request_id }}</h4>
        </div>
        <div class="confirmation-info">
            <p>Pick Up Date and Time</p>
            <div id="confirmation-info-div">
                <h4 id="pickup-info">
                    <span id="request-date" data-date="{{ pickup.request_date }}"></span>
                    <span id="request-time" data-time="{{ pickup.request_time }}"></span>
                </h4>
                <a href="{{ url_for('edit_request_init') }}">
                  <div id="edit-time" class="edit-pencil">
                      <i class="bi bi-pencil"></i>
                  </div>
                </a>
            </div>
        </div>
        <div class="confirmation-info">
            <p id="address-header">Address</p>
            <div>
              <div id="address-info">
                <h4>{{ pickup.address }}{% if pickup.address2 %}{{ pickup.address2 }}{% endif %}, {{ pickup.city }}, {{ pickup.zipcode }} </h4>
                <a href="{{ url_for('edit_request_init') }}">
                  <div id="edit-time" class="edit-pencil">
                      <i class="bi bi-pencil"></i>
                  </div>
                </a>
              </div>   
            </div>
        </div>

        <h3 id="items-h3">Here’s what you can and can’t give us:</h3>
        <div id="items-info">
            <div class="items">
              <div class="items-header">
                <i class="bi bi-check-lg align-center green"></i>
                <h3>Accepted Items</h3>
              </div>
              <ul>
                <li>Pants, jeans, skirts, dresses, suits, shorts, shirts</li>
                <li>Coats, jackets, gloves, hats, scarves</li>
                <li>Shoes, boots, heels, sneakers, sandals, socks</li>
                <li>Bras, underwear, slips, camisoles, tights</li>
                <li>Handbags, belts, ties, headbands</li>
                <li>Towels, sheets, comforters, blankets, tablecloths</li>
                <li>Wallets, totes, backpacks, stuffed animals</li>
              </ul>
            </div>
            <div class="items">
                <div class="items-header">
                    <i class="bi bi-x-lg align-center"></i>
                    <h3>NOT Accepted</h3>
                </div>              
                <ul>
                  <li>Textiles that are wet, moldy, or contaminated with chemicals</li>
                  <li>Bio-hazardous waste</li>
                  <li>Pillows and cushions</li>
                  <li>Mattresses, furniture, or other similar oversized items</li>
                </ul>
            </div>
          </div>
    </div>
  </main>
  {% endblock %}

  {% block scripts %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/confirmation.js') }}"></script>
  {% endblock %}
