{% extends "base.html" %}

{% block title %}Request Complete | EkoLinq{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/confirmation_styles.css') }}">
{% endblock %}
{% block content %}
  <main>
    <div class="content-width" id="confirmation-wrapper">
        <h1 style="font-size: 36px; font-weight: 500; margin-top: 0px;">You're all set!</h1>
        <p style="margin-bottom: 24px; margin-top: 0px; max-width: 550px; word-break: break-word;">Thanks for choosing to get rid of waste the right way. We’ve sent you an email with all of the information you need.</p>
        <div class="confirmation-info">
          <p>Request ID</p>
          <h4>{{ pickup.request_id }}</h4>
      </div>
        <div class="confirmation-info">
            <p>Pick Up Date and Time</p>
            <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 12px;">
                <h4 id="pickup-info" style="margin: 0px;">
                    <span id="request-date" data-date="{{ pickup.request_date }}"></span>
                    <span id="request-time" data-time="{{ pickup.request_time }}"></span>
                </h4>
                <a href="{{ url_for('select_date', request_id=request_id) }}">
                  <div id="edit-time" class="edit-pencil">
                      <i class="bi bi-pencil" style="color: rgb(91, 91, 91)"></i>
                  </div>
                </a>
            </div>
        </div>
        <div class="confirmation-info">
            <p id="address-header">Address</p>
            <div>
              <div id="address-info" style="display: flex; flex-direction: row; align-items: center; margin-bottom: 12px;">
                <h4 style="margin: 0px;">{{ pickup.address }}, {{ pickup.city }}, {{ pickup.zipcode }} </h4>
                <div id="edit-address" class="edit-pencil"><i class="bi bi-pencil" style="color: rgb(91, 91, 91)"></i></div>
              </div>
              <form style="display: none" action="/update_address" id="edit-address-form" method="POST">
                  <div class="form-group" style="max-width: 300px;">
                    <label for="address">Address<span style="color: red;">*</span></label>
                    <input 
                      type="text" 
                      id="address" 
                      name="address" 
                      value="{{ pickup.address }}" 
                      required 
                    />
                  </div>
                  <div class="form-group" style="max-width: 220px;">
                    <label for="city">City<span style="color: red;">*</span></label>
                    <input 
                      type="text" 
                      id="city" 
                      name="city" 
                      value="{{ pickup.city }}" 
                      required 
                    />
                  </div>
                  <div class="form-group" style="max-width: 120px;">
                    <label for="zip">Zip Code<span style="color: red;">*</span></label>
                    <input 
                      type="text" 
                      id="zip" 
                      name="zip" 
                      value="{{ pickup.zipcode }}" 
                      required 
                    />
                  </div>
                  <input 
                      type="hidden" 
                      id="request_id" 
                      name="request_id" 
                      value="{{ request_id }}" 
                  />
                  <input 
                      type="hidden" 
                      id="page]" 
                      name="page" 
                      value="confirmation" 
                  />
                  <button id="update-address" class="download-btn" style="padding: 14px 16px;">Update</button>
                  <button id="cancel-update-address" class="download-btn" style="padding: 14px 16px;">Cancel</button>
              </form>
            </div>
        </div>

        <h3 style="font-family: var(--crim)">Here’s what you can and can’t give us:</h3>
        <div id="items-info">
            <div style="flex: 1;" class="items">
              <div style="display: flex; flex-direction: row; align-items: center;">
                <i style="color: var(--m-green); font-size: 32px; margin: 0px; padding: 0px; margin-right: 12px;" class="bi bi-check-lg align-center"></i>
                <h3 style="font-family: var(--crim); margin: 0px">Accepted Items</h3>
              </div>
              <ul>
                <li>Pants, jeans, skirts, dresses, suits, shorts, shirts</li>
                <li>Coats, jackets, gloves, hats, scarves</li>
                <li>Shoes, boots, heels, sneakers, sandals, socks</li>
                <li>Bras, underwear, slips, camisoles, tights</li>
                <li>Handbags, belts, ties, headbands</li>
                <li>Towels, sheets, comforters, blankets, tablecloths</li>
                <li>Wallets, totes, backpacks, stuffed animals</li>
              </ul>
            </div>
            <div style="flex: 1;" class="items">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <i style="color: red; font-size: 32px; margin: 0px; padding: 0px; margin-right: 12px;" class="bi bi-x-lg align-center"></i>
                    <h3 style="font-family: var(--crim); margin: 0px">NOT Accepted</h3>
                </div>              
                <ul>
                    <li>Textiles that are wet, moldy, contaminated with chemicals or bio-hazardous waste</li>
                    <li>Mattresses, furniture, or other similar oversized Items</li>
                    <li>E-waste</li>
                </ul>
            </div>
          </div>
    </div>
  </main>
  {% endblock %}

  {% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/confirmation.js') }}"></script>
  {% endblock %}
