{% extends "base.html" %}

{% block title %}Our Drop Boxes | EkoLinq{% endblock %}
{% block meta_description %}Find our dropboxes in Pleasanton, CA, and drop off our textiles on your own.{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_image %}{{ url_for('static', filename='images/EkoLinq_Square_Logo_GBG.png') }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/boxes_styles.css') }}">
{% endblock %}
{% block content %}
<main>
  <div id="map-info-wrapper">
    <div class="content-width align-center" id="map-info">
      <div id="info-header">
        <h1>Is a Drop Box Easier? We've Got Those Too!</h1>
        <h3>In addition to our regular door-side pickup service, we now have drop boxes available in Pleasanton.</h3>
        <button class="download-btn" id="acceptable-items">See the list of items we accept.</button>
      </div>
      <img src="{{ url_for('static', filename='images/Boxes1.jpeg') }}" alt="Dropbox in parking lot 2" id="dropbox-image"/>
    </div>
  </div>

  <div id="info-map" class="map content-width">
    <h2>Find Our Drop Boxes.</h2>
    <p>Located in the Rock Bible Church parking lot in Pleasanton, you'll see the drop boxes on your left as soon as you enter the lot.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3158.3761223423908!2d-121.87099621324464!3d37.663868967997615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fe9a514905ebf%3A0xc6dd94e7ef9bfa21!2sRock%20Bible%20Church!5e0!3m2!1sen!2sus!4v1748220367065!5m2!1sen!2sus" width="100%" allowfullscreen="" loading="lazy" id="google-map" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</main>
<div id="items-info">
  <div class="flex-1">
    <h3 class="crim col-green">Accepted Items</h3>
    <ul>
      <li>Pants, jeans, skirts, dresses, suits, shorts, shirts</li>
      <li>Coats, jackets, gloves, hats, scarves</li>
      <li>Shoes, boots, heels, sneakers, sandals, socks</li>
      <li>Bras, underwear, slips, camisoles, tights</li>
      <li>Handbags, belts, ties, headbands</li>
      <li>Towels, sheets, comforters, blankets, tablecloths</li>
      <li>Wallets, totes, backpacks, stuffed animals</li>
    </ul>
  </div>
  <div class="flex-1">
    <h3 class="crim col-red">Unaccepted Items</h3>
    <ul>
      <li>Textiles that are wet, moldy, or contaminated with chemicals</li>
      <li>Bio-hazardous waste</li>
      <li>Mattresses, pillows, furniture, or other similar oversized items</li>
    </ul>
  </div>
  <div id="popup-btn-wrapper" class="align-center w-100">
    <button class="download-btn">Close</button>
  </div>
</div>


{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/boxes.js') }}"></script>
{% endblock %}