{% extends "base.html" %}

{% block title %}Edit Your Request | EkoLinq{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editRequest_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing_styles.css') }}">
{% endblock %}
{% block content %}
<main>
  {% include partial %}
</main>
{% endblock %}

  {% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/edit_request.js') }}"></script>
  {% endblock %}
