{% extends "base.html" %}

{% block meta_description %}Need to update your scheduled pickup? Quickly adjust your date, time, or details with ease.{% endblock %}

{% block title %}Edit Your Pickup | EkoLinq{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editRequest_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing_styles.css') }}">
{% endblock %}
{% block content %}
<main>
  {% include partial %}
  <div id="loading-popup">
    <h3>Updating Your Pickup</h3>
    <p>We're capturing the change you've just made.</p>
    <div class="loader">
    </div>
  </div>
</main>
{% endblock %}
  
  {% block scripts %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/edit_request.js') }}"></script>
  {% endblock %}
