{% extends "base.html" %}

{% block title %}EkoLinq{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing_styles.css') }}">
{% endblock %}
{% block content %}
<main style="padding-top: 180px;">
    <div class="content-width">
        <h1>Uh oh! <i class="bi bi-bug"></i></h1>
        <h3>There appears to be a bug, we're sorry about that!</h3>
        <p>Please head back to the <a href="/" style="text-decoration: underline; color: var(--m-green)">homepage</a> and try again. If the issue persists, <span onclick="openContactPopup()" style="text-decoration: underline; color: var(--m-green); cursor: pointer">contact us.</span> That being said, we've already been notified something happened and will fix this as soon as we can!</p>
    </div>
</main>

{% endblock %}