{% extends "base.html" %}

{% block title %}What's textile waste? | EkoLinq{% endblock %}
{% block meta_description %}Learn what textile waste is, why it’s harmful to the environment, and how you can make a difference with EkoLinq.{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_image %}{{ url_for('static', filename='images/EkoLinq_Square_Logo_GBG.png') }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/waste_styles.css') }}">
{% endblock %}
{% block content %}
<main>
  <div id="header">
    <div id="header-content" class="content-width align-left">
      <h1 class="header-h1">What's Textile Waste?</h1>
      <h3 class="header-h3">Understanding the Problem and Embracing a Circular Future</h3>
    </div>
    <p class="header-copy">
      Copyright 2022 The Associated Press. All rights reserved.
    </p>
  </div>
  <div id="waste-main-content" class="content-width">
    <p class="section-title">OVERVIEW</p>
    <h2 class="mt24-zero-marb">Untangling Textile Waste: A Primer</h2>
    <p class="mt24-mb0">Textile waste encompasses discarded clothing, fabrics, and other textile products that are no longer used, often ending up in landfills or incinerators. Driven largely by fast fashion and overconsumption, this waste not only contributes to environmental degradation but also squanders the valuable resources embedded in every garment. In today’s economy, the sheer volume of textile waste represents a missed opportunity for reuse, recycling, and the transition toward a sustainable circular economy.</p>
    <p class="mt24">Below are three key challenges that illustrate the issue at a glance:</p>
    <div id="info-blocks" class="fade-in-section">
      <div class="info-block" class="align-center">
        <img src="{{ url_for('static', filename='images/landfill.png') }}" height="60">
        <h3>Landfill Overload</h3>
        <p>Discarded textiles can take decades to decompose, releasing methane—a greenhouse gas that is up to 28 times more potent than carbon dioxide (EPA, 2021).</p>
      </div>
      <div class="info-block" class="align-center">
        <img src="{{ url_for('static', filename='images/fossil_fuel.png') }}" height="60">
        <h3>Resource Intensity</h3>
        <p>The production of new textiles requires vast amounts of water, energy, and raw materials. For example, a single cotton shirt may require approximately 700 gallons of water (World Wildlife Fund, 2019).</p>
      </div>
      <div class="info-block" class="align-center">
        <img src="{{ url_for('static', filename='images/chemicals.png') }}" height="60">
        <h3>Chemical Impact</h3>
        <p>Toxic dyes and chemicals used during manufacturing can leach into the soil and waterways when textiles are improperly disposed of, adversely affecting ecosystems and human health (Greenpeace, 2018).</p>
      </div>
    </div>
    <div class="fade-in-section">
      <p class="section-title">ENVIRONMENTAL IMPACT</p>
      <div id="section-two">
      <div class="flex-2">
          <h2>Beyond the Fabric: Unraveling the Environmental Toll</h2>
          <p>When clothing and other textiles are discarded in landfills or burned, they contribute significantly to climate change and environmental degradation. Landfills filled with textile waste generate methane as fabrics decompose—a process that intensifies global warming. Moreover, the energy-intensive production process for new textiles further exacerbates greenhouse gas emissions. The release of hazardous chemicals from textile waste not only contaminates water supplies but also disrupts local ecosystems, posing risks to both wildlife and human communities.</p>
          <p>Efforts to reuse or recycle textiles can help mitigate these impacts. By diverting clothing from landfills, recycling reduces methane emissions and the associated environmental harm. Research indicates that a systematic shift towards clothing reuse recycling could notably decrease the environmental footprint of the fashion industry, thereby aligning with broader sustainability goals (Ellen MacArthur Foundation, 2020).</p>
        </div>
        <div id="sect-two-img"></div>
      </div>
    </div>
    <div class="fade-in-section">
      <p class="section-title">ECONOMIC & CIRCULAR ECONOMY IMPACT</p>
      <div>
        <h2>Closing the Loop: Opportunities in a Circular Textile Economy</h2>
        <p>Textile waste represents a substantial economic loss. Every discarded garment signifies missed opportunities to either reuse or reclaim valuable fibers and materials. Transitioning from a linear “take-make-dispose” model to a circular economy not only conserves resources but also creates new revenue streams through reuse, recycling, upcycling, and resale. This shift is essential for reducing production costs and fostering innovation in sustainable materials management.</p>
        <p>Furthermore, a circular approach to textiles can stimulate local economies by creating jobs in reuse and recycling and sustainable manufacturing sectors. Businesses that embrace circularity contribute to reducing environmental liabilities while also aligning with consumer demand for responsible practices. As research from McKinsey (2021) and other industry leaders shows, a robust circular textile economy can drive significant economic and environmental benefits for communities worldwide.</p>
      </div>
    </div>
    <div id="section-three" class="fade-in-section">
      <div>
        <div class="align-left icon-row">
          <i class="bi bi-patch-question icon-large"></i>
          <h2 class="mt0">Did you know?</h2>
        </div>
        <p class="mt24">Producing a single cotton shirt requires roughly <b>700 gallons of water.</b> That’s enough water for 70 showers or one person to drink for nearly two years.</p>
      </div>
    </div>
    <div class="fade-in-section">
      <p class="section-title">OTHER RESOURCES</p>
      <h2>Want to learn more about textile waste?</h2>
      <p class="resources-intro">The below resources are a great place to get started—these are some of the things we read that compelled us to work on this issue.</p>
      <h3>Articles that cover the basics.</h3>
      <div id="resource-files">
        <div id="resource-file-header">
          <p class="flex-2">Resource</p>
          <p class="flex-2">Brief Description</p>
        </div>
        <div class="resource-file">
          <h3 class="flex-2"><a href="https://www.bu.edu/sph/news/articles/2022/the-aftermath-of-fast-fashion-how-discarded-clothes-impact-public-health-and-the-environment/" class="resource-link">The Aftermath of Fast Fashion<br><i class="i-small">Boston University School of Public Health</i></a></h3>
          <p class="flex-2">This article discusses how discarded textiles impact landfills, the environment, and public health. Additionally, it explores the consequences of textile waste in both developed and developing countries.</p>
        </div>
        <div class="resource-file">
          <h3 class="flex-2"><a href="https://www.optimistdaily.com/2024/10/california-takes-on-fast-fashion-waste-a-new-bill-puts-the-onus-on-brands-to-recycle/" class="resource-link">California takes on fast fashion waste: a new bill puts the onus on brands to recycle<br><i class="i-small">The Optimist Daily</i></a></h3>
          <p class="flex-2">This article discusses California's Responsible Textile Recovery Act, a landmark legislation that requires manufacturers to take responsibility for recycling their textile products.</p>
        </div>
        <div class="resource-file">
          <h3 class="flex-2"><a href="https://www.anthesisgroup.com/insights/sb-707-californias-textile-epr-law-explained/" class="resource-link">SB 707: California’s Textile EPR Law Explained<br><i class="i-small">Anthesis</i></a></h3>
          <p class="flex-2">This source provides a detailed explanation of California's SB 707, the first extended producer responsibility (EPR) framework for textiles in the U.S. It outlines the law's requirements and implementation timeline.</p>
        </div>
      </div>
      <h3>Deeper dives.</h3>
      <div id="resource-files">
        <div id="resource-file-header">
          <p class="flex-2">Resource</h3>
          <p class="flex-2">Brief Description</p>
        </div>
        <div class="resource-file">
          <h3 class="flex-2"><a href="https://jscires.org/article/7419/" class="resource-link">Post-Consumer Textile Waste Management Practices and Circular Economy: A Systematic Literature Review<br><i class="i-small">Journal of Scientometric Research</i></a></h3>
          <p class="flex-2">This scholarly article provides a systematic review of waste management practices in the textile sector, focusing on consumer-disposed textiles and the adoption of circular economy principles. It analyzes 58 papers published in academic journals over a 6-year period.</p>
        </div>
        <div class="resource-file">
          <h3 class="flex-2"><a href="https://leginfo.legislature.ca.gov/faces/billTextClient.xhtml?bill_id=202320240SB707" class="resource-link">California Senate Bill No. 707<br><i class="i-small">California Legislative Information</i></a></h3>
          <p class="flex-2">This is the official text of the Responsible Textile Recovery Act of 2024 (SB 707). It details the requirements for textile producers, the establishment of producer responsibility organizations (PROs), and the implementation timeline for the new extended producer responsibility (EPR) framework in California.</p>
        </div>
        <div class="resource-file">
          <h3 class="flex-2"><a href="https://www2.calrecycle.ca.gov/Publications/Details/1738" class="resource-link">A Closer Look at California's Recently Passed Responsible Textile Recovery Act<br><i class="i-small">CalRecycle</i></a></h3>
          <p class="flex-2">This study estimates the quantity and composition of the commercial, residential, self-hauled and mixed waste streams in California and aggregates this data to estimate the overall composition. This study also includes a moisture analysis for selected fiber materials disposed at landfills.</p>
        </div>
        <div class="resource-file">
          <h3 class="flex-2"><a href="https://www.mdpi.com/2673-7248/3/4/27" class="resource-link">State of the Art in Textile Waste Management: A Review<br><i class="i-small">MDPI</i></a></h3>
          <p class="flex-2">This review presents recent advancements in textile waste management technologies, including sorting, collection methods, and innovative recycling techniques. It also covers global policies aimed at reducing textile waste and promoting sustainable practices within the industry.</p>
        </div>
      </div>
    </div>
    <div id="request-form" class="fade-in-section">
      <h2>Can we help pick up your textile waste?</h2>
      <p>Enter your zipcode below to schedule a pickup.</p>
      <form action="/find-time" method="GET" id="request-form-input">
        <div class="zipcode-wrapper">
          <input type="text" id="zipcode" name="zipcode" placeholder="Enter ZIP Code"
            class="align-center" required>
          <span class="info-icon">i</span>
          <div class="info-text">We only use this ZIP code to determine pick-up dates and eligibility. EkoLinq currently
            only serves the Tri-Valley.</div>
        </div>
        <button class="main-btn" type="submit"><span>Find a Time</span></button>
      </form>
    </div>
  </div>
</main>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/waste.js') }}"></script>
{% endblock %}